@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

body{
    background-color:#f5b54ea2;
    font-family: sans-serif;
    font-size:16px;
    text-indent: 10px;
    min-width: 50%;
    

    
}


main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    
}

article{
margin: 7px 34px 2px;
text-align: justify;

justify-content:end; 

}
h1{
    word-spacing: normal;
    margin-top: 30px;
    
    
}

h2{
    
    word-spacing: normal;
    margin-top: 30px;
    
 
}

img{
    padding-top: 31%;
    text-align: center;
    width: 96%;
    min-width: 60%
    
    
}

.concluido{
    background-color: rgb(207, 204, 204);
    font-size: 14px;
    padding: 17px 8px 10px;
    text-align: center;
    box-shadow: 0px 0px 1px rgb(0, 0, 0);
}

aside{
    background-color:rgba(255, 174, 93, 0.308);
}

footer{
    background-color:black;
    color: white;
    text-align: center;
    padding: 6px;
    
}
 div{
    padding: 20px;
    padding-top:10px ;
    padding-right: 10px;
    padding-bottom:10px;
    padding-left:10px;
    text-align: center;
 }

 .box1 {
     display: flex;
     background-color: white;
     margin: 10px 20px;
     line-height: 2em;
     align-items: flex-start;
     box-shadow: 0px 3px 2px 3px rgba(0, 0, 0, 0.158);

 }

 .box2{
    background-color: white;
     padding: 24px;
     margin: 0px 10px;
     line-height: 2em;
     box-shadow: 0px 3px 2px 2px rgba(0, 0, 0, 0.158);
 }