@charset "UTF-8";

*{
    border: 0px;
    padding: 0px;
    
 
 }




h1:hover {
    background-color: violet;
    color: white;
    text-align: center;
    
    
}
    h2:hover{
    background-color: violet;
    color: white;
    
    }
    h1{

        color: peru;
        
    }
h2{
    color: rgb(255, 174, 93);
    
}

body{
    text-align: center;
    text-align: justify; 
    font-size: 1.1em;
    /* padding: 14px; */
    color: rgb(80, 79, 79);
  
}


main{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 28px;
    box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 14%);
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 1.5em;
}

.cabelo {
    text-align: center;
}




nav{
    text-align: center;
    background-color:rgba(246, 153, 200, 0.404);
   height: 100px;
    box-shadow: 5px 0px 0px rgb(0 0 0 / 43%);

}
nav ul{
    display: inline-flex;
    list-style: none;
    border-radius:5px 5px 5px ;
    text-decoration: none;
    border: 5px;
    transition-duration: 0.5s;

}

nav ul li a{
    text-decoration: none;
    color: white;
    text-align: justify;
    
    
}

.sub-menu{
    display: none;
    text-align: justify;
}

nav ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background-color:  rgba(255, 174, 93, 0.596);
    font-size: 10px;
    margin-left:-30px;
    font-size: 13px;
    text-align: justify;
    

}

nav ul li:hover .sub-menu ul{
    display: block;

}

nav ul li:hover .sub-menu ul li{
   
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
    
    
    
}
nav ul li:hover .sub-menu ul li:hover {
    color: white;
    text-align: center;
    transform: scale(1); 
    font-family: sans-serif;
}

nav ul li:hover {
    transform: scale(1); 
    font-family: sans-serif;
    background-color:#f5b54efb;
    border-radius: 5px;
  
    
}

li a menu{
    font-size: 20px;
    
}




.font{
    padding: 30px;
}




.menu {
    max-width: 1200px;
    margin: 0 auto;
    line-height: 17px; /* alterar */
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu li{
   text-align: center;
   padding: 30px;
   
   
   
}

.logo img{
    float:left;
    margin-left:13px;
}


.font-family{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
mark{
 background-color: plum;
 width:10px;
 color: white;
}

.bolinhas{
    background-image: url("img/bolinha2.png");
    
}

body {
    margin: 0px;
}

footer{
    background-color:rgba(255, 174, 93, 0.678);
    color: white;
    text-align: center;
    width: 100%;
    height: 40px;
    display: inline-table;

    
   
    
}

/**
Media Queries
**/

@media (max-width: 500px) {
    .cabelo img {
        width: 90%;
        overflow: hidden;
    }

    .menu li {
        display: inline;
     }

     .menu li a {
        padding: 0 !important;
        text-decoration: none;
        color: white;
        margin: 5px;
     }

}