@charset "UTF-8";

* {
    border: 0px;
    padding: 0px;


}




h1:hover {
    background-color: violet;
    color: white;
    text-align: center;


}

h2:hover {
    background-color: violet;
    color: white;

}

h1 {

    color: peru;

}

h2 {
    color: rgb(255, 174, 93);

}

body {
    text-align: center;
    font-size: 1.1em;
    /* padding: 14px; */
    color: rgb(80, 79, 79);

}


main {
    /* text-align: center; */
    max-width: 1200px;
    margin: 0 auto;
    padding: 28px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 1.5em;
}

.cabelo {
    text-align: center;
}




nav {
    margin: 0 auto;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(246, 153, 200, 0.404);
    height: 100px;
    box-shadow: 5px 0px 0px rgb(0 0 0 / 43%);

}

nav ul {
    display: inline-flex;
    list-style: none;
    border-radius: 5px 5px 5px;
    text-decoration: none;
    border: 5px;
    transition-duration: 0.5s;

}

nav ul li a {
    text-decoration: none;
    color: white;
    /* text-align: justify; */
    min-width: 14px;
    padding: 15px;



}

.sub-menu {
    display: none;
    text-align: inherit;
    margin: 0px;
}

nav ul li:hover .sub-menu {
    display: block;
    position: absolute;
    background-color: rgba(255, 174, 93, 0.596);
    min-width: 10px;
    margin-left: -5px;
    font-size: 13px;
    text-align: center;
    letter-spacing: normal;


}

nav ul:hover .sub-menu ul {
    display: block;
    margin: 10px;


}

nav ul li:hover .sub-menu ul li {

    border-radius: 5px;
    transition: 0.3s;



}

nav ul li:hover .sub-menu ul li:hover {
    color: white;
    transform: scale(1);
    font-family: sans-serif;
}

nav ul li:hover {
    transform: scale(1);
    min-width: 10px;
    padding: 5px;
    font-family: sans-serif;
    background-color: #f5b54efb;
    border-radius: 5px;


}

.sub-menu li a {
    padding: 5px;
}

li a menu {
    font-size: 20px;


}




.font {
    padding: 30px;
}




.menu {
    max-width: 1200px;
    margin: 0 auto;
    line-height: 17px;
    flex: 1;
    /* alterar */
    list-style-type: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu li {
    text-align: center;
    min-width: 14px;



}

.logo {
    flex: 1;
    
}

.logo img {
    float: left;
    margin-left: 13px;
}


.font-family {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

mark {
    background-color: rgba(221, 160, 221, 0.74);
    width: 10px;
    color: white;
}

.bolinhas {
    background-image: url("img/bolinha2.png");

}

body {
    margin: 0px;
}


.video{
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
    margin-left: 65px;
    padding:20px ;
    padding-bottom: 43%;
    position: relative;
}

div.video > iframe{
position: absolute;
width:60%;
height:60%;
}



footer {
    background-color:rgba(246, 153, 200, 0.404);
    color: white;
    text-align: center;
    width: 100%;
    height: 40px;
    display: inline-table;




}

/**
Media Queries
**/

@media (max-width: 500px) {
    .cabelo img {
        width: 90%;
        overflow: hidden;
    }

    .menu li {
        display: flex;
    }

    .sub-menu {
        margin-top: 40px;
    }

    .menu li:hover {
        min-width: auto;
    }

    .menu li a {
        padding: 0 !important;
        text-decoration: none;
        color: white;
        margin: 9px;
    }

}

@media (max-width:640px) {

    nav ul li:hover .sub-menu ul li:hover {
        min-width: 10px;
        font-size: 12px;

    }
    .sub-menu ul {
        display: flex !important;
        flex-direction: column !important;
    }

    .menu li a {
        font-size: 14px;
        align-self: center;
        justify-self: center;
    }




    .sub-menu li a {
        padding: 10px;
    }
}